<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ecommerce.calculator">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/calcilogofinal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/calcilogofinal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity android:name=".activities.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.HomeScreen"></activity>
        <activity android:name=".activities.Registration" android:parentActivityName=".activities.HomeScreen"></activity>
        <activity android:name=".activities.RegistrationOtpVerification"></activity>
        <activity android:name=".activities.Login" android:parentActivityName=".activities.HomeScreen"></activity>
        <activity android:name=".activities.ForgotPasswordGetEmail"></activity>
        <activity android:name=".activities.ForgotPasswordVerifyEmail"></activity>
        <activity android:name=".activities.GetNewPassword"></activity>
        <activity android:name=".activities.FragmentSelection" android:parentActivityName=".activities.Menu"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activities.Menu"></activity>
        <activity android:name=".activities.Profile" android:parentActivityName=".activities.Menu"></activity>
        <activity android:name=".fragments.Data"></activity>

    </application>

</manifest>